.wrapper {
  .body {
    border-radius: 4.5rem;
    overflow: hidden;
    height: 800px;
    position: relative;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      inset: 0;

      &:hover {
        .mask {
          transform: translateX(135%) skewX(33deg) scale(1.5);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .mask {
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background-color: #fff;
        transition: all 2s cubic-bezier(0.26, 0.83, 0.34, 0.99);
        transform: skewX(33deg) scale(1.5);
        display: none;
      }
    }
    .content {
      background: linear-gradient(
        91.36deg,
        #063b29 -23.24%,
        rgba(6, 59, 41, 0) 43.01%
      );
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 2;
      padding: 0 5rem;
      
      .content_in {
        height: 100%;

        max-width: 530px;
        width: 100%;
      }
    }
  }
}
