.game {
  display: grid;
  grid-template-areas: "main players";
  grid-template-columns: 1fr 46.7rem;
  gap: 2rem;
  height: 100%;
  
  .main {
    grid-area: main;
  }
  .players {
    grid-area: players;
  }
}
