@use './vars';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}