.wrapper {
  display: grid;
  grid-template-areas: 
  "left main right"
  ;
  grid-template-columns: 1fr auto 1fr;
  gap: 2.4rem;

  .left {
    grid-area: left;
    justify-self: end;
  }
  .right {
    grid-area: right;
    justify-self: start;
  }
  .main {
    grid-area: main;
    justify-self: center;
  }
}